POSTGRES_DB=ebs_pms
POSTGRES_USER=ebs_admin
POSTGRES_PASSWORD=change_this_strong_password
SECRET_KEY=change_this_secret_key_minimum_32_chars
ADMIN_USERNAME=admin
ADMIN_PASSWORD=change_this_admin_password
ADMIN_EMAIL=admin@eatonbusiness.edu
